.inputInfo,.createExp,.createEdu{
  background-color: rgb(199, 196, 196);
  padding: 10px;
}

.info {
  display: flex;
  flex-direction: column;

}
.btn_addExp,.btn_addEdu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(97, 96, 96);
  width: 100%;
}
.index_Gen {
  display: flex;
}

.info-2 {
  font-size: 20px;
}

input {
  display: flex;
  flex-direction: column;
  background-color: rgb(239, 226, 210);
  font-size: 25px;
  padding: 5px;
  margin: 10px;
}